<div class="container-fluid article-share">
    <div class="col-lg-12">
        <form class="thing-form">
            <label class="sr-only">Type URL or title to create a new article</label>
            <p class="input-group">
                <input type="text" class="form-control input-lg" placeholder="Type URL or title to create a new article" ng-model="newarticle.title" required="">
                <span class="input-group-btn">
                    <button type="submit" class="btn btn-primary btn-lg" ng-click="addArticle()">Share</button>
                </span>
            </p>
        </form>
    </div>
</div>